<div class="topic-index-wrapper">
  <div class="bg">
  </div>

  <div class="wrapper">

    <div class="submenu">
      <h2>MENU</h2>
      <ul class="submenu-list">
        <li>
          <%= link_to 'SCEDULE', pages_schedule_path %>
        </li>
        <li>
          <%= link_to 'GARRELY', '#' %>
        </li>
        <li>
          <%= link_to 'ABOUT', pages_about_path %>
        </li>
      </ul>
    </div>


      <div class="main">
        <h1>Garrely</h1>
        <% @topics.each do |topic| %>
          <div class="frame">
            <%= image_tag topic.image.url %>
        </div>
    <% end %>
  </div>
</div>
