<div class="schedule-top-wrapper">
  <div class="bg"></div>
  <div class="wrapper">

    <div class="submenu">
      <h2>MENU</h2>
      <ul class="submenu-list">
        <li>
          <%= link_to 'SCEDULE', '#' %>
        </li>
        <li>
          <%= link_to 'GARRELY', topics_path %>
        </li>
        <li>
          <%= link_to 'ABOUT', pages_about_path %>
        </li>
      </ul>
    </div>

    <div class="main">
      <h1>Schedule</h1>
      <iframe src="https://calendar.google.com/calendar/embed?src=leotakahashi777%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <!-- <iframe src="https://calendar.google.com/calendar/embed?src=8d0h725ptsaqm8qkigf1lqcg70%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
      <!-- <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=8d0h725ptsaqm8qkigf1lqcg70%40group.calendar.google.com&amp;color=%23B1440E&amp;src=ja.japanese%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;ctz=Asia%2FTokyo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
    </div>
  </div>
</div>
